{% extends 'letter/base.html ' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <textarea id="chat-log" class="form-control" rows="20"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <input id="chat-message-input" type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <button id="chat-message-submit" type="button" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>
<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/main_letter/'
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'input_text': message
        }));
        document.querySelector('#chat-log').value += ('You: ' + message + '\n');
        messageInputDom.value = '';
    };
</script>

{% endblock %}